

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
/* Styling for Decentralized credit system heading */
.Heading {
  font-size: 36px;
  text-align: center;
  transition: transform 0.5s ease;
}

/* Transition effect when the site is loaded */
body {
  opacity: 0;
  transition: opacity 1s ease;
}

body.loaded {
  opacity: 1;
}

/* Styling for Decentralized credit system heading */
.Heading {
  font-size: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.Heading span {
  display: inline-block;
  animation: bounce 1.5s infinite;
  margin-right: 10px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.Heading span:nth-child(1) {
  animation-delay: 0s;
}

.Heading span:nth-child(2) {
  animation-delay: 0.1s;
}

.Heading span:nth-child(3) {
  animation-delay: 0.2s;
}

/* Add more span selectors with appropriate animation delays for each word */



h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

/* Styling for Connected Account */
.CA {
  padding: 10px;
  border-radius: 4px;
  background: linear-gradient(to right, #43a4ff var(--gradient-width, 40%), transparent 100%);
  color: #fff;
  font-weight: bold;
}

/* Styling for credit balance field */
.tn {
  padding: 10px;
  border-radius: 4px;
  background: linear-gradient(to right, #43a4ff var(--gradient-width, 30%), transparent 30%);
  color: #333;
  font-weight: bold;
}



label {
  display: block;
  margin-bottom: 5px;
}


input,
select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  color: #333;
  transition: box-shadow 0.3s ease;
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #43a4ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1c8eff;
}

.tn {
  font-size: 16px;
}

/* Mobile Responsiveness */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  input,
  select {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
